$landing-background: linear-gradient(0deg, #8d56cc -10%, #7d3fc4 35%, rgb(33, 12, 63) 100%);
$landing-middle-background: linear-gradient(to bottom, #FF8425, #ff6a2e);
$design-background: linear-gradient(0deg, rgba(125,84,184,1) 54%, rgba(162,98,141,1) 73%, rgba(255,132,37,1) 100%);
$design-middle-background: linear-gradient(to bottom, #f2edfa, #ffffff);
$design-bottom-background: linear-gradient(to bottom, #ffffff, #f2edfa);
$animation-background: linear-gradient(0deg, #8d56cc 20%, #7d3fc4 75%, rgb(33, 12, 63) 100%);
$learning-background: linear-gradient(0deg, rgba(125,84,184,1) 34%, rgba(162,98,141,1) 59%, rgba(255,132,37,1) 91%);
$contact-background: linear-gradient(to bottom, #f2edfa, #ffffff);
$contact-middle-background: linear-gradient(to bottom, #FF8425, #ff6a2e);


$landing-font-family: 'Roboto', sans-serif;
$nav-color1: white;
$nav-color-hover: #FF8425;
$nav-font-size: 15px;

$landing-subtittle-size: 40px;
$landing-tittle-size: 80px;
$landing-weight-tittles: bold;
$landing-weight-text: lighter;
$landing-line-break: loose;
$landing-font-color1: white;
$landing-color-color2: #FF8425;
$landing-color-color3: #7d54b8;
$landing-color-color4: #2a11524d;
$landing-color-color5: black;
$landing-color-color6: #6840a0;

$landing-buttons-font-size: 12px;
$landing-buttons-border-radius: 100px;
$landing-buttons-border-width: 2px;
$landing-buttons-border-style: solid;
