* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #8d56cc), color-stop(75%, #7d3fc4), to(#210c3f));
  background-image: linear-gradient(0deg, #8d56cc 20%, #7d3fc4 75%, #210c3f 100%);
  font-family: "Roboto", sans-serif;
}

.nav-link {
  color: white !important;
  font-family: "Roboto", sans-serif !important;
  font-weight: lighter;
  font-size: 15px;
  padding-top: 10px;
}

.nav-link:hover {
  color: #FF8425 !important;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container-design0 {
  width: 200vh;
  padding-left: 175px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.active {
  color: #00ffea !important;
  font-weight: normal;
}

.container-animation1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  justify-items: center;
  color: white;
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
  line-break: loose;
}

.container-animation1 .continue-button {
  display: inline-block;
  background-color: #2a115228;
  margin-left: 70px;
  margin-top: 10px;
  border: white;
  border-style: solid;
  border-width: 2px;
  border-radius: 100px;
  width: 120px;
  height: 35px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 2, 0.11);
          box-shadow: 0px 5px 10px rgba(0, 0, 2, 0.11);
}

.container-animation1 .continue-button a {
  color: white;
  text-decoration: none;
}

.container-animation1 .continue-button:hover {
  background-color: #0000007c;
  border-color: #00fff2;
}

.container-animation1 .wobble-hor-bottom {
  -webkit-animation: wobble-hor-bottom 10s infinite alternate both;
          animation: wobble-hor-bottom 10s infinite alternate both;
}

@-webkit-keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  60% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  75% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
}

@keyframes wobble-hor-bottom {
  0%,
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  45% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
  60% {
    -webkit-transform: translateX(15px) rotate(6deg);
            transform: translateX(15px) rotate(6deg);
  }
  75% {
    -webkit-transform: translateX(-30px) rotate(-6deg);
            transform: translateX(-30px) rotate(-6deg);
  }
}

.container-animation1 .heartbeat1 {
  animation: heartbeat1 1.5s ease-in-out 1s infinite alternate-reverse both;
}

@-webkit-keyframes heartbeat1 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes heartbeat1 {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.container-animation1 .heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
          animation: heartbeat 1.5s ease-in-out infinite both;
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}

.container-design3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  line-height: 1.4;
  font-size: small;
  font-family: "Roboto", sans-serif;
  line-break: loose;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  border: 0px;
  -webkit-box-shadow: 0px 5px 10px rgba(51, 42, 83, 0.123);
          box-shadow: 0px 5px 10px rgba(51, 42, 83, 0.123);
}

.card .card-body {
  padding: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}

.boton {
  background-color: #7d54b8;
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 12px;
  border-radius: 100px;
  border: none;
  width: 90px;
  margin-top: 10px;
  height: 25px;
}

.boton:hover {
  background-color: #FF8425;
}

.modal {
  display: none;
  position: fixed;
  overflow: auto;
}

.modal .modal-body .video-setting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150vh;
  -ms-flex-line-pack: center;
      align-content: center;
}

.modal .modal-content {
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  background-color: white;
}

.modal .modal-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: black;
  margin-left: 80px;
  color: black;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: lighter;
}

.modal .boton-cierra {
  display: block;
  margin-right: 80px;
  border-radius: 100px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 12px;
  border: none;
  background-color: #FF8425;
  width: 120px;
  height: 35px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 2, 0.11);
          box-shadow: 0px 5px 10px rgba(0, 0, 2, 0.11);
}

.modal .boton-cierra:hover {
  display: block;
  margin-right: 80px;
  border-radius: 100px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 12px;
  border: none;
  background-color: #7d54b8;
  width: 120px;
  height: 35px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 2, 0.11);
          box-shadow: 0px 5px 10px rgba(0, 0, 2, 0.11);
}

/*media Q*/
@media only screen and (min-width: 425px) {
  .animation-top {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: -10px;
    height: 800px;
  }
  .animation-tittle1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 45px;
    font-weight: bold;
    color: white;
    margin-top: -350px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
  }
  .animation-subtittle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
    line-height: 1.8;
    font-weight: lighter;
    color: black;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    text-align: center;
  }
  #cont-btn {
    display: none;
    overflow: hidden;
  }
  .animation-image1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 380px;
    bottom: -250px;
    left: 20px;
    z-index: 100;
  }
  .animation-image2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 300px;
    bottom: -250px;
    left: 60px;
  }
  .animation-image3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 270px;
    bottom: -198px;
    left: 90px;
  }
  .animation-image4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 130px;
    bottom: -40px;
    left: 25px;
  }
  .animation-image5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 105px;
    bottom: -50px;
    right: 40px;
  }
  .design-middle {
    display: -ms-grid;
    display: grid;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2edfa), to(#ffffff));
    background-image: linear-gradient(to bottom, #f2edfa, #ffffff);
    margin-top: 20px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 60px;
    padding-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-align: center;
  }
  .design-bottom {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2edfa));
    background-image: linear-gradient(to bottom, #ffffff, #f2edfa);
    padding-left: 80px;
    padding-right: 80px;
    padding-top: -60px;
    padding-bottom: 120px;
  }
}

@media only screen and (min-width: 768px) {
  .animation-top {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: -10px;
    height: 800px;
  }
  .animation-tittle1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 65px;
    font-weight: bold;
    color: white;
    margin-top: -350px;
    margin-left: 25px;
    margin-right: 0px;
    text-align: center;
  }
  .animation-subtittle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
    line-height: 1.8;
    font-weight: lighter;
    color: black;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    text-align: center;
  }
  #cont-btn {
    display: none;
    overflow: hidden;
  }
  .animation-image1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 500px;
    bottom: -250px;
    left: 150px;
    z-index: 100;
  }
  .animation-image2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 400px;
    bottom: -150px;
    left: 200px;
  }
  .animation-image3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 350px;
    bottom: -188px;
    left: 250px;
  }
  .animation-image4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 190px;
    bottom: 20px;
    left: 125px;
  }
  .animation-image5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 125px;
    bottom: 10px;
    right: 120px;
  }
  .design-middle {
    display: -ms-grid;
    display: grid;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2edfa), to(#ffffff));
    background-image: linear-gradient(to bottom, #f2edfa, #ffffff);
    margin-top: 20px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 70px;
    padding-bottom: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-align: center;
  }
  .design-bottom {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2edfa));
    background-image: linear-gradient(to bottom, #ffffff, #f2edfa);
    padding-left: 80px;
    padding-right: 80px;
    padding-top: -60px;
    padding-bottom: 120px;
  }
}

@media only screen and (min-width: 1024px) {
  .animation-top {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    height: 650px;
  }
  .animation-tittle1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    font-size: 65px;
    font-weight: bold;
    color: white;
    margin-top: -50px;
    margin-left: 70px;
    text-align: left;
  }
  .animation-subtittle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    font-size: 15px;
    line-height: 1.8;
    font-weight: lighter;
    color: black;
    margin-top: 10px;
    margin-left: 75px;
    color: white;
    text-align: left;
  }
  #cont-btn {
    display: inline-block;
    overflow: visible;
  }
  .animation-image1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 600px;
    bottom: -10px;
    left: 850px;
    z-index: 100;
  }
  .animation-image2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 580px;
    bottom: 110px;
    left: 855px;
  }
  .animation-image3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 520px;
    bottom: 88px;
    left: 880px;
  }
  .animation-image4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 160px;
    bottom: 420px;
    left: 815px;
  }
  .animation-image5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    width: 125px;
    bottom: 375px;
    right: 60px;
  }
  .design-middle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f2edfa), to(#ffffff));
    background-image: linear-gradient(to bottom, #f2edfa, #ffffff);
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 100px;
    padding-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    text-align: center;
  }
  .design-bottom {
    display: -ms-grid;
    display: grid;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: distribute;
        align-content: space-around;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f2edfa));
    background-image: linear-gradient(to bottom, #ffffff, #f2edfa);
    padding-left: 180px;
    padding-right: 180px;
    padding-top: -60px;
    padding-bottom: 120px;
  }
}
